<nav class="navbar background p-4 row d-flex justify-content-between">
    <div class="col-sm-2 col-md-4 py-2 mx-3">
      <%= link_to '/', class:'navbar-brand' do %>
        <%= image_tag 'logo-blanco.png', class:'img-fluid' %>
      <% end %>
    </div>
    <div class="col-sm-2 col-md-4 mx-3 d-flex flex-row justify-content-end end">
      <%= image_tag 'pedidos.png', class:'img-fluid h-auto'  %>
      <p class="fs-4 fw-600 text-white my-auto mx-3 text-centered">Mis Compras</p>
    </div>
</nav>