  <nav class="navbar fixed-top background bg-light p-4">
    <div class="container-fluid h-25 d-inline-block">
      <div class="row d-flex justify-content-between" >
      <div class="col-xs-5 col-md-2">
      <%= image_tag 'logo-blanco.png', class:"img-fluid float-end" %>
      </div>
      <div class="col-xs-5 col-md-2 d-flex flex-row">
        <%= image_tag 'pedidos.png', class:"img-fluid" %>
        <p class="fs-4 fw-600 text-white my-auto mx-3 text-centered">Mis Compras</p>
      </div>
    </div>
  </nav>