<header>
  <%= render 'shared/navbar' %>
</header>
<section class="container h-100 d-flex justify-content-center align-items-center">
  <div class="">
    <%= cl_image_tag "https://res.cloudinary.com/eagerworks-planit/image/upload/v1622658475/Planit/pedido-realizado_y8vdfi.png", class:'rounded mx-auto d-block' %>
    <div class="col-md-6 mx-auto my-auto">
      <h4 class="col fs-3 text-dark fw-bold text-center">Pedido Realizado!</h4>
      <p class="col fs-6 text-light text-center">Te notificaremos una vez que el servicio esté confirmado.</p>
    </div>
  </div>
</section>